#menuui {
    background-color: black;
    background-image: url("../textures/menubg.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

/* Start Button */
button {
    margin: 16px;
    padding: 10px 15px;
    border: 0.125em solid white;
    transition: 0.2s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    /* font-size: 1.2rem; */
}

button::after {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    content: '▶';
    position: absolute;
    left: -20%;
    transition: 0.2s ease;
    font-size: 1em;
}

button span {
    transition: 0.2s ease;
}
/* button:hover {
    transform: scale(1.05);
} */
button:hover span {
    margin-left: 20px;
}
button:hover:after {
    left: 20px;
}


/* Level Toggle */

/* Outer toggle box */
.toggle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 9em;
    height: 2.1em;
    border: 2px solid white;

    align-self: center;
    user-select: none;
    margin: 2rem;
    padding: 3px;
    /* font-size: 0.8em; */
}

/* LHS and RHS */
.option {
    flex: 1;
    text-align: center;
    width: 50%;
}
.option:hover {
    scale: 1.05;
}

/* Hide checkmark */
input[type=checkbox] {
    display: none;
}

/* Makes area clickable */
label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Movable card */
.card {
    position: relative;
    transition: transform 0.2s;
    width: 50%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Position outline centrally in the card */
.card .outline {
    border: 2px solid white;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
}

/* Move card on check */
.toggle input:checked + label .card {
    transform: translateX(100%);
}
