@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf");
}

@font-face {
    font-family: "PromptFont";
    src: url("../fonts/PromptFont.ttf");
}

kdb {
    font-family: "PromptFont", monospace, monospace;
}

body, div, canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, button {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    color: white;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

.centred {
    width: 100%;
    height: 100%;
    text-align: center; 
    display: flex;  
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
